@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px; 
}


.container {
    max-width: 500px;
    width: 70%;
    margin: 45px auto 0;
    display: flex;
    flex-direction: column;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    padding-top: 30px;
    text-align: center;
}

.container p {
    padding: 25px 0;
    text-align: center;
    font-size: 14px;
}

span {
    color: hsl(0, 0%, 59%);
    font-weight: 100;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.form-group {
    display: flex;
    justify-content: space-around;
}

input {
    padding: 13px 30px;
    border: 1px solid  hsl(223, 100%, 88%);
    border-radius: 50px;
    outline: none;
}

input[type=text] {
    width: 350px;
    color: hsl(223, 100%, 88%);
    margin-right: 10px;
}

input[type=submit] {
    width: 150px;
    background-color: hsl(223, 87%, 63%);
    color: #fff;
}

#errMsg {
    display: block;
    font-size: 12px;
    color: #eb3535;
    padding-top: 5px;
    padding-left: 15px;
}

.err {
    border: 1px solid #eb3535;
}
.image2 {
    width: 100%;
    max-width: 500px;
}

.social-icons {
    display: flex;
    margin: 10px auto 10px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons li {
    list-style: none;
    padding: 7px;
}

.social-icons i {
    color: hsl(223, 87%, 63%);
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
}

@media(max-width: 620px) {
    .container h1 {
        font-size: 1.3em;
    }

    .logo img {
        margin: 0 auto 0;
    }

    form {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .form-group {
        flex-direction: column;
    }

    input {
        display: block;
    }

    #errMsg {
       text-align: center;
       padding-top: 8px;
       padding-bottom: 8px;
    }

    input[type=submit] {
        background-color: hsl(223, 87%, 63%);
        color: #fff;
        width: 350px;
        margin-top: 10px;
    }

    .image2 {
        width: 100%;
        max-width: 500px;
    }

    .social-icons {
        padding-top: 70px;
    }
}